
<!-- Page Container -->
<div class="w3-margin-top" id="main">
  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-quarter">
    
      <div class="w3-white w3-text-dark-gray w3-card-4">
      	<div class="w3-custom-primary">      		
	        <img src="images/staines_picture.jpg" alt="Profile Picture" id="profile">
	        <p id="name" class="w3-dark-gray">Mara Staines</p>
	    </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-custom-primary"></i>Software Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-custom-primary"></i>Pittsburgh, PA</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-custom-primary"></i><a href="mailto:marastaines@gmail.com">marastaines@gmail.com</a></p>
          <p><i class="fa fa-linkedin fa-fw w3-margin-right w3-large w3-text-custom-primary"></i><a href="https://www.linkedin.com/in/marastaines">LinkedIn</a></p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-custom-primary"></i>Skills</b></p>
          <p class="skill-title">Hadoop Ecosystem</p>
          <p>HDFS, Hive, Spark, Impala, Sqoop, Oozie</p>
          <p>Familiarity with Cloudera products and best practices</p>

          <p class="skill-title">Web Development</p>
          <p>HTML, JavaScript, CSS</p>
      	  <p>Node.JS: Express, Knockout, Handlebars</p>

          <p class="skill-title">Languages</p>
          <p>Python (PySpark, sklearn)</p>
          <p>C, C++, SQL</p>

          <p class="skill-title">Other Skills</p>
          <p>Tableau, Git, CA7, uDeploy, scientific and technical writing</p>
          
          <!--<p>Machine Learning</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-custom-primary" style="width:90%">90%</div>
          </div>
          -->
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-dark-gray w3-padding-16 w3-custom-primary"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-custom-primary"></i>About Me</h2>
        <div class="w3-container">
          <h5 ><b>Software Developer, Data Enthusiast</b></h5>
          <h6>From my first experience with programming, I have been inspired by the insight that can be gained from data. I am passionate about building solutions that enhance decision making through big data analytics, whether in medicine, marketing, or anti money laundering. I currently work with data on Hadoop, building solutions that connect our AML analysts with data from throughout the bank. </h6>
        </div>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-dark-gray w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-custom-primary"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 ><b>Software Developer / PNC</b></h5>
          <h6 class="w3-text-custom-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2018 - <span class="w3-tag w3-custom-primary w3-text-dark-gray w3-round">Current</span></h6>
          <p>At PNC, my team creates big data solutions built on Hadoop to enable Anti Money Laundering efforts.</p>
          <ul>
          	<li>Implement ETL in Spark, providing data to AML business clients</li>
          	<li>Took over lead role bringing web application (Node.JS/Express/Impala JDBC) to production</li>
          		<ul>
          			<li>Coordindated work with DevOps teams to provision and configure web servers and CA SiteMinder authentication</li>
          			<li>Expidited process and approvals required for deploying new servers, including Disaster Recovery testing</li>
          			<li>Delivered project on time and on budget despite staff turnonver and technical delays</li>
          		</ul>
          	<li>Lead technical relationship with business</li>
          		<ul>
          			<li>Execute critical, time-sensitive requests for data, improving speed and accuracy over manual spreadsheet compilation</li>
          			<li>Provide technical guidance to analysts working with our data in Hue, Jupyter Notebooks, R, Tableau, etc.</li>
          			<li>Host weekly Hadoop Collaboration, an hour long learning session covering a variety of topics around Hadoop and analytics</li>
          		</ul>
          	<li>Work with co-developer to coordinate efforts of a large number of offshore resources</li>
          	<li>Managed 2019 summer intern, resulting in meaningful contributions to ongoing projects, and positive feedback from both management and the intern himself.
          	<li>Collaborate with Cloudera representative to increase code performance and quality</li>
          		<ul>
          			<li>Used YARN UI and Spark Application Manager to debug and identify causes of performance issues, reducing some run times by over 50%.</li>
          			<li>Worked with platform team to remediate Hive tables with small file size and non-compressed data</li>
          			<li>Produced set of documents providing team specific technical standards, reducing new technical debt</li>
          		</ul>
          	<li>Develop Tableau dashboards connected to Hadoop, managing Tableau extracts for increased performance and decreased load on cluster</li>
          </ul>	
          <hr>
        </div>
        <div class="w3-container">
          <h5 ><b>Intern / Booz Allen Hamilton</b></h5>
          <h6 class="w3-text-custom-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2017 - August 2017</h6>
          <p>During the Summer Games internship program, my team delivered a data driven military recruitment solution.</p>
          <ul>
          	<li>Proposed new data-based marketing strategy to expand target audience</li>
          	<li>Identified relevant variables and produced unified data set from disparate sources</li>
          	<li>Built custom dashoboard (HTML/JS/CSS, Python) enabling recruiting management to better allocate personnel based on data</li>
          </ul>
          <hr>
        </div>
        <div class="w3-container">
          <h5 ><b>Undergraduate Researcher / University of Notre Dame</b></h5>
          <h6 class="w3-text-custom-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2016 - Jan 2018</h6>
          <p>Working under Professor Scott Emrich, I developed a pipeline for selecting siRNA candidates that may prevent replication of mosquito cells. This work was done in partnership with the IUSB School of Medicine, where live testing with mosquitos was conducted.</p>
          <ul>
          	<li>Shadowed clients to understand highly manual process that would be automated</li>
          	<li>Produced custom scoring algorithm to replace black box tool, using latest research on predictor variables</li>
          	<li>Created python utility to rank siRNA candidates for selection</li>
          	<li>Utility saved hours of work by researchers for each siRNA candidate selected for testing</li>
          </ul>
          <hr>
        </div>
        <div class="w3-container">
          <h5 ><b>Research Intern / University of Pittsburgh Department of Biomedical Informatics</b></h5>
          <h6 class="w3-text-custom-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2013 - Aug 2013</h6>
          <h6 class="w3-text-custom-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2016 - July 2016</h6>
          <p>During my internship in 2013, I applied a Bayesian Rule Learning algorithm to classify patients with/without cardiovascular disease. In 2016, I used machine learning and network analysis to predict the scientific impact of protein-protein interaction discoveries.</p>
          <ul>
          	<li>Supervised and validated metric extraction from cardiac MRI video data</li>
          	<li>Generated features and target variables, and performed feature selection for use in machine learning (Weka, Python)</li>
          	<li>Used statistical methods to evaluate machine learning models</li>
          	<li>Demonstrated that a new feature developed by a colleague improved classification, resulting in co-authorship on the related paper</li>
          </ul>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-dark-gray w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-custom-primary"></i>Education</h2>
        <div class="w3-container">
          <h5 ><b>University of Notre Dame / BS Computer Science</b></h5>
          <h6 class="w3-text-custom-primary"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Graduated May 2018</h6>
          <p>GPA: 3.7</p>
          <p>My computer science education at Notre Dame included core classes in C and C++, as well as Python for scripting and machine learning. During my time at Notre Dame, I also developed a passion for ethics in computer science, and I graduated with a minor in Science, Technology, and Values. </p>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-custom-primary w3-center w3-margin-top">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
