.w3-custom-primary {
	background-color: #b0e8b0;
	color: #000000;
}

.w3-text-custom-primary {
	color: #000000;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
	width: 5%;
}
.w3-container {
	padding: 0.01em 0.5em;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
	margin-left: 5%
}
.skill-title {
	font-size: 18px !important;
	border-bottom-style: solid;
	border-bottom-color: #404040;
	border-bottom-width: 2px;
	margin: 0.25em;
}

#name {
	color: #ffffff;
	margin: 0px;
	font-size: 36px;
	padding-left: 0.5em;
}
#profile {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
